<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-12 mb-2">
          <a [routerLink]="['/']">
            <img
              src="https://picsum.photos/160/90"
              alt="picsum photos"
              width="160"
            />
          </a>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary mb-2" [routerLink]="['/player']">Player module</button>
      </div>
      <div class="row">
        <button class="btn btn-primary mb-2" [routerLink]="['/wage']">Wage module</button>
      </div>
    </div>
  </div>
</div>
